body {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.button-style a { 
    text-decoration: none;
    color: white;
}

.header-logo {
    font-size: 32px;
    font-weight: 900;
}

.nav {
    display: flex;
    justify-content: space-around;
    color: white;
    background-color: #1f2937;
    padding: 8px;
}

.nav a {
    text-decoration: none;
    color: white;
}

.header-links {
    display: flex;
    align-items: center;
    gap: 16px;
}

.content-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
    color: white;
}

.content-1-container {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}

.title-text {
    font-size: 34px;
}

.subtitle-text {
    font-size: 16px;
}

.button-style {
    background-color: #3882f6;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 24px;
    padding: 8px;
}

.header-img {
    display: flex;
    justify-content: center;
    padding: 8px;
    width: 90%;
    height: auto;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: white;
    padding: 8px;
}